* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

header {
  background-color: #3161e0;
}

h1 {
  font-size: 3.3rem;
}

p {
  font-size: 1.2rem;
}

#blackcontainer {
  /* da rinominare */
  padding: 10px 10px 40px;
}

#newblackcontainer {
  /* da rinominare */
  padding: 30px 10px 0px;
}

header .container {
  padding: 20px 10px;
}

main .container {
  padding: 50px 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
}

.box {
  /* da togliere alla fine */
  border: 2px dashed black;
}

.boxlogo {
  padding-top: 4px;
}

.boxlink {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
}

.introduzione {
  min-width: 700px;
  min-height: 380px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  line-height: 30px;
}

.testo-intro {
  padding: 40px 110px 23px;
}

.boxblue {
  /* da rinominare */
  min-width: 65%;
  min-height: 400px;
}

.boxpink {
  /* da rinominare */
  min-width: 35%;
  min-height: 400px;
}

.reverse {
  flex-direction: row-reverse;
}

.boxgreen {
  /* da rinominare */
  min-width: 100%;
  min-height: 600px;
  margin: 0 auto;
}

.boxdarkpink {
  /* da rinominare */
  min-height: 500px;
  border: 2px dashed rgb(255, 255, 255);
  flex-grow: 2;
}

.boxbluegreen {
  /* da rinominare */
  min-height: 500px;
  border: 2px dashed rgb(255, 255, 255);
  flex-grow: 1;
}

.boxbluegreen {
  /* da rinominare */
  min-height: 70px;
  min-width: 100%;
  display: flex;
  border: none;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.boxbluegreen {
  /* da rinominare */
  border: 2px dashed rgb(255, 255, 255);
  padding: 5px;
}

.boxlightgreen {
  /* da rinominare */
  min-height: 70px;
  min-width: 100%;
  display: flex;
  border: 2px dashed white;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.boxnewpink {
  /* da rinominare */
  padding: 5px;
  border: 2px dashed white;
  color: white;
}

.small-button {
  padding: 5px 13px;
  border-radius: 30px;
  align-items: center;
  border: none;
  height: 36px;
  font-weight: bold;
}

.button {
  padding: 10px 30px;
  border-radius: 30px;
  align-items: center;
  border: none;
  height: 50px;
  font-size: 1.2rem;
  margin: 0px 10px;
}

.text-white {
  color: #feffff;
  text-decoration: none;
}

.text-blue {
  color: #6c81cd;
}

.bg-color-grey {
  background-color: #f6f6f6;
}

.bg-color-black {
  background-color: #23272a;
}

.bg-color-white {
  background-color: #feffff;
}
