* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

header {
  background-color: #3161e0;
}

a {
  font-size: 0.9rem;
}

h1 {
  font-size: 3.1rem;
}

h2 {
  font-size: 2.7rem;
  margin-bottom: 25px;
}

h3 {
  font-size: 1.8rem;
}

h5 {
  font-size: 0.9rem;
}

p {
  font-size: 1.1rem;
  line-height: 30px;
}

ul {
  list-style-type: none;
  line-height: 30px;
}

hr {
  width: 1080px;
  border-color: #7289da;
  margin: 0 auto;
}

header .container {
  padding: 20px 10px;
}

main .container {
  padding: 100px 10px;
}

#first-container {
  padding: 50px 10px;
}

#item1 {
  justify-content: flex-start;
  align-items: flex-start;
}

#testo1 {
  padding: 30px 30px 0px;
}

#item2 {
  padding: 90px 90px 0px;
}

#testo2 {
  padding-top: 120px;
  padding-right: 50px;
}

#item3 {
  padding: 140px 15px 0px;
}

#testo3 {
  padding: 160px 10px 0px 50px;
}

#testo4 {
  padding: 0px 90px;
}

#vertical-container {
  flex-direction: column;
}

#titolodownload {
  margin-bottom: 35px;
  margin-top: 36px;
}

#blackcontainer {
  padding: 10px 10px 0px;
}

#titoloicons {
  padding-bottom: 24px;
}

#bandierina {
  height: 14px;
}

#lingua {
  font-size: 0.8rem;
  padding-bottom: 20px;
}

#icons {
  display: flex;
  gap: 22px;
  font-size: 1.1rem;
}

#newblackcontainer {
  padding-top: 10px;
  padding-bottom: 70px;
}

.container {
  width: 100%;
  max-width: 1100px;
  min-width: 300px;
  margin: 0 auto;
  display: flex;
}

.boxlogo {
  padding-top: 4px;
}

.logo {
  height: 30px;
}

.boxlink {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.jumbotron {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
}

.introduzione {
  min-width: 700px;
  min-height: 380px;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
}

.testo-intro {
  padding: 40px 210px 23px;
}

.boximmagine {
  min-width: 65%;
  min-height: 400px;
  display: flex;
}

.item {
  height: 400px;
}

.boxtesto {
  min-width: 35%;
  min-height: 400px;
}

.reverse {
  flex-direction: row-reverse;
}

.bigbox {
  min-width: 100%;
  min-height: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 80px 0px 0px;
}

.boxdownload {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/stars.svg);
  background-position: top;
  background-repeat: no-repeat;
  padding-bottom: 40px;
}

.boxicons {
  min-height: 450px;
  width: 30%;
  padding: 66px 90px 0px 10px;
}

.boxdownlink {
  min-height: 450px;
  width: 17%;
  padding: 70px 0px 0px 20px;
}

.boxlanguage {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.boxfooter {
  min-height: 70px;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.boxend {
  padding: 5px;
  color: white;
}

.small-button {
  padding: 5px 13px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  border: none;
  height: 30px;
  font-weight: bold;
  font-size: 0.8rem;
}

.button {
  padding: 14px 30px;
  border-radius: 30px;
  align-items: center;
  border: none;
  height: 50px;
  font-size: 1.1rem;
  margin: 0px 10px;
}

.text-white {
  color: #feffff;
  text-decoration: none;
}

.text-blue {
  color: #7289da;
}

.bg-color-grey {
  background-color: #f6f6f6;
}

.bg-color-black {
  background-color: #23272a;
}

.bg-color-white {
  background-color: #feffff;
}

.bg-color-blue {
  background-color: #8ea1e1;
}
